.header__inner {
  width: 1100px;
  height: 120px;

  position: relative;

  margin: 0 auto;
}

.header__logo {
  height: 75px;

  position: absolute;

  top: 0;
  bottom: 0;

  margin: auto;
}

.submenu__list {
  display: flex;

  font-family: Arial, sans-serif;
}

.submenu__item {
  position: relative;
}

.submenu__item::before {
  content: '';

  width: 1px;
  height: 12px;

  background-color: #e5e5e5;

  position: absolute;

  top: 0;
  bottom: 0;

  margin: auto;
}

.submenu__item:first-child::before {
  display: none;
}

.submenu__link {
  display: block;

  padding: 11px 16px;

  font-size: 12px;
  color: #656565;
}

.submenu__link:hover {
  color: #000;
}
