.notice {
  position: relative;
}

.notice__left {
  width: 50%;
  height: 62px;

  background-color: #333;

  position: absolute;

  top: 0;
  left: 0;
}

.notice__right {
  width: 50%;
  height: 62px;

  background-color: #f6f5ef;

  position: absolute;

  top: 0;
  right: 0;
}

.notice > .inner {
  display: flex;

  height: 62px;
}

.inner__left {
  display: flex;
  align-items: center;

  width: 60%;
  height: 100%;

  background-color: #333;
}

.left__title {
  margin-right: 20px;

  font-size: 17px;
  font-weight: 700;
  color: #fff;
}

.left__swiper-container {
  flex-grow: 1;

  height: 62px;
}

.left__swiper-slide {
  display: flex;
  align-items: center;

  height: 62px;
}

.left__swiper-link {
  color: #fff;
}

.left__more {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 62px;
  height: 62px;
}

.left__material-icons {
  font-size: 30px;
  color: #fff;
}

.inner__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 40%;
  height: 100%;
}

.right__title {
  font-size: 17px;
  font-weight: 700;
}

.right__toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 62px;
  height: 62px;

  cursor: pointer;
}

.right__material-icons {
  font-size: 30px;
}

.notice__promotion {
  height: 693px;

  background-color: #f6f5ef;

  position: relative;

  transition: height 0.4s;

  overflow: hidden;
}

.notice__promotion.hide {
  height: 0;
}

.swiper-container.promotion__swiper-container {
  width: calc(819px * 3 + 20px);
  height: 553px;

  position: absolute;

  top: 40px;
  left: 50%;

  margin-left: calc((819px * 3 + 20px) / -2);
}

.promotion__swiper-slide {
  opacity: 0.5;

  position: relative;

  transition: opacity 1s;
}

.promotion__swiper-slide.swiper-slide-active {
  opacity: 1;
}

.promotion__button.button {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.promotion__swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}

.promotion__swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;

  background-color: transparent;
  background-image: url(../../images/promotion-slide-pager.png);

  margin-right: 6px;

  outline: none;
}

.promotion__swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.promotion__swiper-pagination .swiper-pagination-bullet-active {
  background-image: url(../../images/promotion-slide-pager-on.png);
}

.promotion__swiper-prev,
.promotion__swiper-next {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 42px;
  height: 42px;

  position: absolute;

  top: 300px;

  border: 2px solid #333;
  border-radius: 50%;

  z-index: 1;

  transition: 0.4s;

  cursor: pointer;
}

.promotion__swiper-prev {
  left: 50%;

  margin-left: -480px;
}

.promotion__swiper-next {
  right: 50%;

  margin-right: -480px;
}

.promotion__swiper-prev:hover,
.promotion__swiper-next:hover {
  background-color: #333;

  color: #fff;
}
