.seasonal-product {
  background-image: url(../../images/seasonal-product-background.jpg);
}

.seasonal-product > .inner {
  height: 400px;
}

.image--floating3 {
  position: absolute;
  top: -200px;
  right: 0px;
}

.seasonal-product__text {
  position: absolute;
  top: 110px;
  right: 100px;
}

.product__text--title {
  margin-bottom: 10px;
}

.product__text--desc {
  margin-bottom: 15px;
}
