.store {
  background-image: url(../../images/store-background.jpg);
}

.store > .inner {
  height: 400px;
}

.store__texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}

.store__texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.store__image {
  position: absolute;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.store__image--picture1 {
  top: -60px;
  left: 0;
}

.store__image--picture2 {
  top: 150px;
  left: 250px;
}

.store__text {
  position: absolute;
  top: 120px;
  left: 550px;
}

.store__text--title {
  margin-bottom: 20px;
}

.store__text--desc {
  margin-bottom: 20px;
}
