.visual {
  margin-top: 120px;
  background-image: url(../../images/visual-background.jpg);
  background-position: center;
}

.visual > .inner {
  height: 646px;
}

.visual__title {
  position: absolute;
  top: 88px;
  left: -10px;
}

.title__button {
  position: absolute;
  top: 259px;
  left: 173px;
}

.image--latte {
  position: absolute;
  bottom: 0;
  right: -47px;
}

.image--latte-text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.image--mocha {
  position: absolute;
  bottom: 0;
  right: 162px;
}

.image--mocha-text {
  position: absolute;
  top: 321px;
  right: 416px;
}

.visual__spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}

.visual--fade-in {
  opacity: 0;
}
