.youtube {
  height: 700px;

  background-color: #333;

  position: relative;

  overflow: hidden;
}

.youtube__area {
  width: 1920px;

  position: absolute;

  top: 50%;
  left: 50%;

  margin-top: calc(1920px * 9 / 16 / -2);
  margin-left: calc(1920px / -2);
}

.youtube__area::before {
  content: '';

  display: block;

  width: 100%;
  height: 0;

  padding-top: 56.25%;
}

#player {
  width: 100%;
  height: 100%;

  position: absolute;

  top: 0;
  left: 0;
}

.youtube__cover {
  width: 100%;
  height: 100%;

  background-image: url(../../images/video-cover-pattern.png);
  background-color: rgba(0, 0, 0, 0.3);

  position: absolute;

  top: 0;
  left: 0;
}

.youtube > .inner {
  height: 700px;
}

.image--floating1 {
  position: absolute;

  top: 50px;
  left: 0px;
}

.image--floating2 {
  position: absolute;

  top: 350px;
  left: 150px;
}
